<section class="cart_section">
    <h2>Cart</h2>
    <div class="table_responsive" *ngIf="getCardDetails">
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">S.n</th>
                <th scope="col">Products</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let get CartDetail of getCartDetails"> 
                <th scope="row">1</th>
                <td><img class="img" src="./assets/img/blackcooker.jpeg" alt=""></td>
                <td>₹{{getCartDetail.amt}}</td>
                <td>
                    <button type="button" (click)='incQnt(getCartDetail.proId,getCartDetail.qnt)" class="btn"><i class="fa-solid fa-plus"></i></button>
                    <span>{{getCartDetail.qnt}}</span>
                    <button type="button" (click)='decQnt(getCartDetail.proId,getCartDetail.qnt)' class="btn"><i class="fa-solid fa-minus"></i></button>
                 </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td><img class="img" src="./assets/img/blackcooker.jpeg" alt=""></td>
                <td>₹{{getCartDetail.amt}}</td>
                <td>
                    <button type="button" class="btn"><i class="fa-solid fa-plus"></i></button>
                    <span>{{getCartDetail.qnt}}</span>
                    <button type="button" class="btn"><i class="fa-solid fa-minus"></i></button>
                 </td></tr>
              <tr>
                <th scope="row">3</th>
                <td><img class="img" src="./assets/img/blackcooker.jpeg" alt=""></td>
                <td>₹{{getCartDetail.amt}}</td>
                <td>
                    <button type="button" class="btn"><i class="fa-solid fa-plus"></i></button>
                    <span>{{getCartDetail.qnt}}</span>
                    <button type="button" class="btn"><i class="fa-solid fa-minus"></i></button>
                 </td> </tr>
            </tbody>
          </table>
          <button type="button" class="btn btn-danger">Remove All Items</button>
          <h2 class="total">Total -₹4899</h2>
    </div>
</section>