<section class="cart_section">
    <h2>Cart</h2>
    <div class="table_responsive">
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">S.n</th>
                <th scope="col">Products</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td><img class="img" src="./assets/img/blackcooker.jpeg" alt=""></td>
                <td>₹899</td>
                <td>
                    <button type="button" class="btn"><i class="fa-solid fa-plus"></i></button>
                    <span>1</span>
                    <button type="button" class="btn"><i class="fa-solid fa-minus"></i></button>
                 </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td><img class="img" src="./assets/img/blackcooker.jpeg" alt=""></td>
                <td>₹899</td>
                <td>
                    <button type="button" class="btn"><i class="fa-solid fa-plus"></i></button>
                    <span>1</span>
                    <button type="button" class="btn"><i class="fa-solid fa-minus"></i></button>
                 </td></tr>
              <tr>
                <th scope="row">3</th>
                <td><img class="img" src="./assets/img/blackcooker.jpeg" alt=""></td>
                <td>₹899</td>
                <td>
                    <button type="button" class="btn"><i class="fa-solid fa-plus"></i></button>
                    <span>1</span>
                    <button type="button" class="btn"><i class="fa-solid fa-minus"></i></button>
                 </td> </tr>
            </tbody>
          </table>
          <h2 class="total">Total -₹4899</h2>
    </div>
</section>