<!-- <ng-container *ngIf="true">
<div class="container">
  <div class="card-table">
    <div class="cart-product">
      <table class='table'>
        <thead class="'thead-dark">
          <tr class="table table_responsive">
            <th scope="col">S.n</th>
                  <th scope="col">Products</th>
                  <th scope="col">Image</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
        <tr ng-repeat="product in products">
  
            <th scope="row">1</th>
            <td>Diamond</td>
            <td>Image</td>
            <td>Quantity</td>
            <td>400</td>
          </tr>
    
       </table>
    </div>
  </div>
</div>
</ng-container> -->

<ng-container *ngIf="true">
  <div *ngIf="cartItems.length === 0" class="alert alert-info">Your Cart is Empty.</div>
<section class="cart_section">
    <h2>Cart</h2>
    <div class="table_responsive" *ngIf="cartItems.length > 0" >
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">S.n</th>
                <th scope="col">Products</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of cartItems"> 
                <th scope="row">{{item.proId}}</th>
                <td><img class="img" src="{{item.img}}" alt=""></td>
                <td>{{item.qnt}}</td>
                <td>₹ {{item.amt}}</td>
              </tr>
            </tbody>
          </table>
          <button type="button" class="btn btn-danger" (click)="deleteall()">Remove All Items</button>
          <h2 class="total"><strong>Total </strong>{{cartTotal | currency : 'INR'}}</h2>
    </div>
</section>
</ng-container>