<header>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-2 ">
    <div class="side-nav-button p-3 me-2 text-light">
    </div>
      <a class="navbar-brand px-4" href="#">
        <strong>RK TRADERS</strong></a><a href="https://www.flaticon.com/free-icons/pressure-cooker" title="pressure cooker icons"></a>
      <button data-bs-toggle="collapse"
      data-bs-target="#menuItems"
      aria-controls="menuItems"
      aria-expanded="false" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="" aria-current="page" href="#">Order</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="confirmation">Confirmation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="history">History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Signup">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Cart">Cart</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div> 
  </nav>
</header>




<div class="offcanvas offcanvas-start" id="demo">
  <div class="offcanvas-header">
    <h1 class="offcanvas-title">RK TRADERS</h1>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body">
    <p>Order</p>
    <p>Confirmation</p>
    <p>History</p>
    <p>Singup</p>
    <p>Cart</p>
  </div>
</div>

<div class="container-fluid mt-3">
  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo" style="float: right;">
    Open Menu
  </button>
</div>


