<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrap">
                       <table class="table">
                        <thead class="thead-primary" style="background-color:skyblue">
                            <tr>
                                <th>Sno.</th>
                                <th>Product  Name</th>
                                <th>Quantity</th>
                                <th>Capacity</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th>1</th>
                            <th>Diamond Cooker</th>
                            <td>50</td>
                            <td>5 ltr.</td>
                            <td>$1150</td>
                        </tr>
                        </tbody>
                        
                        <tbody>
                            <tr>
                            <th>2</th>
                            <th>Diamond Cooker</th>
                            <td>50</td>
                            <td>5 ltr.</td>
                            <td>$1150</td>
                        </tr>
                        </tbody>
                        
                        <tbody>
                            <tr>
                            <th>3</th>
                            <th>Diamond Cooker</th>
                            <td>50</td>
                            <td>5 ltr.</td>
                            <td>$1150</td>
                        </tr>
                        </tbody>
                        
                        <tbody>
                            <tr>
                            <th>4</th>
                            <th>Diamond Cooker</th>
                            <td>50</td>
                            <td>5 ltr.</td>
                            <td>$1150</td>
                        </tr>
                        </tbody>
                       </table> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>