<hr>
    <div class="main-div">
        <div class="card">
            <div class="imgbox">
                <img src="./assets/img/cookerimg.jpeg" alt="">
            </div>
            <div class="content">
                <h2>Cooker</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, </p>
                <h2>Cooker</h2>
            </div>
        </div>
        <div class="card">
            <div class="imgbox">
                <img src="./assets/img/kadai.jpg" alt="">
            </div>
            <div class="content">
                <h2>Kadai</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit,</p>
                <h2>Kadai</h2>
            </div>
        </div>
        <div class="card">
            <div class="imgbox">
                <img src="./assets/img/blackcooker.jpeg" alt="">
            </div>
            <div class="content">
                <h2>Black Cooker</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, </p>
                <h2>Black Cooker</h2>
            </div>
        </div>
    </div>
