<hr>

    <div class="main-div" >
        <div class="card">
            <!-- <ng-container *ngFor="let item of productList"> -->
            <div class="imgbox">
                <img src="./assets/img/blackcooker.jpeg" alt="">
            </div>
            <div class="content">
                <h2>Cooker</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, </p>
                <h2>Cooker</h2>
     <form>
     <label for="cars">Choose a cooker Model:</label>
    <select name="cooker" id="cooker">
      <option value="volvo">Plain</option>
      <option value="saab">Contura</option>
      <option value="opel">Handi</option>
      <option value="audi">Induction</option>
    </select>
    <div class="counter">
      <span class="down" onClick='decreaseCount(event, this)'>-</span>
      <input type="text" value="1">
      <span class="up" onClick='increaseCount(event, this)'>+</span>
    </div>

    <input type="text" value="Remarks">
    <button class="btn btn-primary">Add to cart</button>
  </form>
            </div>
        <!-- </ng-container> -->
        </div>
        <div class="card">
            <div class="imgbox">
                <img src="./assets/img/blackcooker.jpeg" alt="">
            </div>
            <div class="content">
                <h2>Kadai</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit,</p>
                <h2>Kadai</h2>
                <form>
                    <label for="cars">Choose a Kadai Model:</label>
                   <select name="cooker" id="cooker">
                     <option value="volvo">Plain</option>
                     <option value="saab">Without-LID</option>
                     <option value="opel">With LID</option>
                     <option value="audi">Induction</option>
                   </select>
                   <div class="counter">
                    <span class="down" onClick='decreaseCount(event, this)'>-</span>
                    <input type="text" value="1">
                    <span class="up" onClick='increaseCount(event, this)'>+</span>
                  </div>
      
                   <input type="text" value="Remarks">
                   <button class="btn btn-primary">Add to cart</button>
                 </form>
            </div>
        </div>
        <div class="card">
            <div class="imgbox">
                <img src="./assets/img/blackcooker.jpeg" alt="">
            </div>
            <div class="content">
                <h2>Black Cooker</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, </p>
                <h2>Black Cooker</h2>
                <form>
                    <label for="cooker">Choose a cooker Model:</label>
                   <select name="cooker" id="cooker">
                     <option value="volvo">Plain</option>
                     <option value="saab">Contura</option>
                     <option value="opel">Handi</option>
                     <option value="audi">Induction</option>
                   </select>
                   <div class="counter">
                    <span class="down" onClick='decreaseCount(event, this)'>-</span>
                    <input type="text" value="1">
                    <span class="up" onClick='increaseCount(event, this)'>+</span>
                  </div>
                   <input type="text" value="Remarks">
                   <button class="btn btn-primary">Add to cart</button>
                 </form>
            </div>
        </div>
        
    </div>

