.product{
    padding: 40px 0;
}
.box{
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
}
.img1{
    width: 14rem;
    height: 15rem;
}
.btn{
    border: 1px solid black;
    border-radius: 20px;
    background-color: black;
    color: aliceblue;
    font-size: 10px;
}
.content h4{
    margin-top: 10px;
}
.content span{
    font-size: 18px;
    font-weight: 500 ;
}
.row{
    padding-left: 50px;
}
