<div class="row">
   <div class="col">
       <app-header></app-header>
   </div>
   <div class="r1 p-4">
    <div>
        <h1>Sign Up</h1>
        <h5>Welcome to RK Traders</h5>
        <form action="" method="get">
         <div>
            <p><label for="userNmae">User Name</label></p>
            <input type="text" id="userName" autocomplete="off" >
         </div>
         <div>
            <p><label for="email">Email Address</label></p>
            <input type="email" id="email" name="email" required autocomplete="off">
         </div>
         <div>
            <p><label for="password">Password</label></p>
            <input type="password" id="password" required >
         </div>
         <br>
         <button type="button"class="btn btn-primary" >Sign Up Now</button>
         <p>Already a member? <a href="login.html">Log in</a></p>
        </form>
        <div></div>  
    </div>